
@{
    ViewBag.Title = "CreateUserSuccess";   
}

<h1>Se ha creado el usuario con éxito</h1>


<p>@Html.ActionLink("Cerrar sesión", "Logout") </p>

<p>@Html.ActionLink("Regresar a menú principal", "Login")</p>


