@{
    ViewBag.Title = "Lector";
}

<!DOCTYPE html>

<h1  align="center"> Cargar archivo con usuarios a crear</h1>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lector de Json para usuarios</title>
</head>
<body>
    @using (Html.BeginForm("InsertarUsuarios", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @ViewBag.Error
        <table cellpadding="25" cellspacing="50"  align="center">
            <tr>
                <td> Archivo Json</td>
                <td> <input type="file" name="File" /></td>
            </tr>
            <tr>
                <td> &nbsp;</td>
                <td> <input type="submit" value="Cargar" /></td>
            </tr>
        </table>
    }
</body>
</html>