@model EDDProyecto.Models.Usuario
@{
    ViewBag.Title = "Login";
}

<h1>Login</h1>

@using (@Html.BeginForm("Log", "Usuario", FormMethod.Post))
{
<div>
    <p>Usuario:</p>
    <p>@Html.TextBoxFor(Model => Model.Username)</p>
   
    <p>Contraseña:</p>
    <p>@Html.TextBoxFor(Model => Model.Password)</p>

    <input type="Submit" name="Ingresar" value="Ingresar" />
</div>
}






