@model EDDProyecto.Models.Usuario
@{
    ViewBag.Title = "Login";
}

@using (@Html.BeginForm("Log", "Usuario", FormMethod.Post))
{
<div align="center">
    <h1>Login</h1>
    <p>Usuario: </p>
    <p>@Html.TextBoxFor(Model => Model.Username, null, new { @maxlength = 20 })</p>

    <p>Contraseña:</p>
    <p>@Html.PasswordFor(Model => Model.Password, new { @maxlength = 20 })</p>

    <input type="Submit" name="Ingresar" value="Ingresar" />

    <p>@Html.ActionLink("Crear un usuario nuevo", "Registrar","Usuario") </p>
</div>
}







