@model EDDProyecto.Models.Video
@{
    ViewBag.Title = "Catalogo";
}

<h1>Catálogo</h1>


<p> @Html.ActionLink("Agregar contenido a mi watchlist", "AddWatchlist")</p>
<p> @Html.ActionLink("Ver mi watchlist", "ViewWatchlist")</p>
<p> </p>
<p> @Html.ActionLink("Cerrar sesión", "Out")</p>


