
@{
    ViewBag.Title = "CreateVideoSuccess";
}

<h1>Se ha guardado con éxito el video</h1>
<h3>Presione regresar para volver al menú principal</h3>

@Html.ActionLink("Regresar", "MenuPrincipalAdmin")

