
@{
    ViewBag.Title = "Ingreso Error";
}

<h2>Ingreso</h2>
<h3>Usted no ha elegido un formato correcto para el ingreso</h3>
<p>@Html.ActionLink("Regresar a Ingreso", "Ingresar")</p>
<p>@Html.ActionLink("Regresar al catalogo de opciones","RedirectAdmin")</p>

